page-orgin {
  .orgin_theme{
    background: #f6f6f6;
    h5{
      color:#606060 !important;
    }
  }
  .orgin_wrapper{
    .home_search_bar {
      padding: 15px;
      padding-bottom: 20px;
      background: none;
      .searchbar-input-container {
          .searchbar-search-icon {
              display: none !important;
          }
          .searchbar-input {
              padding: 0px;
              height: 50px;
              background-color:#eeeeee !important;
              box-shadow: none;
              border-radius: 30px;
              background: url('../assets/imgs/nav_search_dark.png');
              background-position: right 15px top 12px !important;
              background-size: 26px !important;
              background-repeat: no-repeat !important;
              color: #646464 !important;
              font-size: 30px;
              padding-left: 20px;
              font-weight: 500;
              padding-right: 50px;
          }
           ::-webkit-input-placeholder {
              color: #d8d8d8;
          }
      }
    }
    .origin_inner{
      width: 100%;
      border-bottom: 1px solid #cecece;
      padding: 0px;
      .orign_main_cities{
        width: 100%;
        .origin_city_div{
          width: 100%;
          text-align: center;
          padding-bottom: 15px;
          img{
            height:50px;
          }
          p{
            margin:0px;
            color: #777777;
            font-size: 16px;
          }
        }
      }
    }
    .other_cities{
      padding: 30px;
      h6{
        color: #686767;
        margin:0px;
        padding:0px;
        font-weight: 600;
        padding-bottom: 10px;
      }
      ul{
        padding:0px;
        margin:0px;
        li{
          list-style: none;
          color: #8a8a8a;
          font-size: 16px;
          padding-top: 8px;
          padding-bottom: 8px;
        }
      }
    }
  }
}
