page-searchlist {

  .search_list_background{
    background: #e7edef;
  }
  .nav_header_title {
    p{
      margin: 0px;
      padding:0px;
      text-align:left;
      color: #afafaf;
      font-size: 12px;
    }
  }

  .search_list{
    .list {
      .item{
        background: #fff !important;
        padding: 15px !important;
        border-radius: 10px;
        margin-bottom: 10px;
        .item-inner{
          border:none !important;
          .input-wrapper{
            .label {
              margin: 0px;
              h4{
                color: #3b3b3b;
                font-size: 20px;
                font-weight: 600;
              }
              p{
                color: #919191;
                font-size: 16px;
                font-weight:400;
                padding-bottom: 15px;
              }
              span{
                margin-left:10px;
                margin-right:10px;
              }
              h6{
                color: #919191;
                font-size: 16px;
                margin:0px;
                padding:0px;
                strong{
                  color: #616161;
                }
              }
              .rate{
                background: #0090aa;
                color: #fff;
                font-weight: 400;
                border-radius: 20px;
                text-align: center;
                padding: 4px;
                font-size: 14px;
              }
              h5{
                color: #919191;
                margin: 0px;
                padding: 4px;
              }
              .view_route{
                color: #919191;
                border:1px solid #919191;
                background:transparent;
                border-radius: 20px;
                padding:5px;
                padding-left: 10px;
                padding-right:10px;
                font-size: 14px;
              }
              .amount{
                text-align:right;
                color: #282828;
                font-weight: 600;
                font-size: 16px;
                padding: 5px;
              }
            }
          }
        }
      }
    }
  }
}
