page-result {
    .result_wrapper {
        width: 100%;
        ul {
            margin: 0px;
            padding: 0px;
            li {
                list-style: none;
                width: calc(100% - 51%);
                display: inline-block;
                .inner_result {
                    position: relative;
                    height: 160px;
                    background: #f5f5f5;
                    padding: 15px;
                    text-align: center;
                    img {
                        height: 130px;
                        width: auto;
                    }
                    .fav_circle {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        position: absolute;
                        top: 10px;
                        left: 10px;
                        background: url("../assets/imgs/heart.png");
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: 12px;
                    }
                    .fav {
                        background-color: #da1c5c;
                    }
                    .not_fav {
                        background-color: #dcdcdc;
                    }
                }
                h5 {
                    text-align: center;
                    margin: 0px;
                    padding: 0px;
                    color: #575757;
                    padding-top: 10px;
                    font-weight: 400;
                    text-align: left;
                }
                p {
                    text-align: center;
                    margin: 0px;
                    padding: 0px;
                    color: #575757;
                    font-weight: 400;
                    font-size: 16px;
                    text-align: left;
                    padding-bottom: 15px;
                    strong {
                        color: #a3a3a3;
                        font-weight: 300;
                        padding-left: 5px;
                        text-decoration: line-through;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}
