page-home {
    .home_search_bar {
        padding: 15px;
        padding-bottom: 20px;
        background: none;
        .searchbar-input-container {
            .searchbar-search-icon {
                display: none !important;
            }
            .searchbar-input {
                padding: 0px;
                height: 50px;
                background-color: rgba(101, 91, 133, 0.5) !important;
                box-shadow: none;
                border-radius: 30px;
                background: url('../assets/imgs/search.png');
                background-position: right 15px top 12px !important;
                background-size: 26px !important;
                background-repeat: no-repeat !important;
                color: #fff;
                font-size: 30px;
                padding-left: 20px;
                font-weight: 500;
                padding-right: 50px;
            }
             ::-webkit-input-placeholder {
                color: #675b85;
            }
        }
    }
    .home_content {
        width: 100%;
        .home_menu_banner {
            width: 100%;
            ul {
                margin: 0px;
                padding: 0px;
                padding-top: 10px;
                padding-bottom: 10px;
                li {
                    list-style: none;
                    display: inline-block;
                    text-align: center;
                    width: calc(100% - 80%);
                    height: 80px;
                    float: left;
                    padding: 10px;
                    padding-left: 0px;
                    padding-right: 0px;
                    img {
                        width: 24px;
                    }
                    p {
                        padding: 0px;
                        margin: 0px;
                        color: #797979;
                        text-align: center;
                        padding-top: 7px;
                        font-size: 12px;
                    }
                }
            }
        }
        .home_detail_contents {
            .scroll_section {
                .scroll-x {
                    .scroll-content {
                        margin: 0px !important;
                        .scroll-zoom-wrapper {
                            .row {
                                .list {
                                    margin: 0px;
                                    display: inherit;
                                    border-bottom: 1px solid #d6d6d6;
                                    .item {
                                        display: inline-block;
                                        .item-inner {
                                            .input-wrapper {
                                                .label {
                                                    margin: 0px;
                                                    .card {
                                                        width: 300px;
                                                        height: 240px;
                                                        padding: 0px;
                                                        border-radius: 0px;
                                                        box-shadow: none !important;
                                                        .card-content {
                                                            padding: 0px;
                                                            widows: 100px;
                                                            height: 100%;
                                                            .item_image {
                                                                width: 100%;
                                                                height: 240px;
                                                                background-color: #eaeaea;
                                                                border-radius: 0px;
                                                                position: relative;
                                                                padding: 10px;
                                                                background-position: center !important;
                                                                background-repeat: no-repeat !important;
                                                                background-size: 120px !important;
                                                                h3 {
                                                                    font-size: 18px;
                                                                    strong {
                                                                        font-size: 32px;
                                                                        margin-right: 5px;
                                                                    }
                                                                }
                                                                button {
                                                                    height: 35px;
                                                                    color: #fff;
                                                                    border-radius: 20px;
                                                                    position: absolute;
                                                                    bottom: 15px;
                                                                    left: 15px;
                                                                    padding-left: 20px;
                                                                    padding-right: 20px;
                                                                    letter-spacing: 1px;
                                                                    text-transform: capitalize !important;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .blue_card {
                background-color: #e7f3fd;
                h3 {
                    color: #586a7a !important;
                }
                button {
                    background: #1f5282;
                }
                .item_image {
                    background: url('../assets/imgs/ad1.png');
                }
            }
            .pink_card {
                background-color: #f7e8f5;
                h3 {
                    color: #a84e6c !important;
                }
                button {
                    background: #cd2e63;
                }
                .item_image {
                    background: url('../assets/imgs/ad2.png') !important;
                }
            }
        }

        .offer_slider{
          width:100%;
          height:150px;
          padding: 10px;
          img{
            width:100%;
            height:100%;
            object-fit: cover;
            object-position: center;
          }
        }
    }
}
