page-payselection {
  .nav_header_title{
    width: calc(100% - 180px) !important;
  }
  .pay_wrapper{
    width:100%;
    ul{
      margin:0px;
      padding:0px;
      li{
        list-style: none;
        margin-bottom: 25px;
        padding-top: 10px;
        .pay_div{
          width:80px;
          height: 60px;
          float: left;
          img{
            width:50px;
          }
        }
        .pay_detail{
          width:calc(100% - 80px);
          float: left;
          border-left:1px solid #8b8b8b;
          padding-left: 20px;
          h5{
            color: #777777;
            font-weight: 400;
          }
          button{
            background:#1f5282;
            color: #fff;
            height: 30px;
            border-radius: 20px;
            padding-left: 20px;
            padding-right:20px;
          }
        }
      }
    }
  }
}
