page-completepayment {
   .nav_header_title{
    width: calc(100% - 180px) !important;
  }
  .pay_wrapper{
    width:100%;

    h4{
      color: #4f4f4f;
      font-weight: 300;
      font-size:26px;
      margin:0px;
      padding: 0px;
      padding-top: 5px;
      padding-bottom:0px;
    }
    h5{
      color: #4f4f4f;
      font-weight: 300;
      font-size:20px;
      margin:0px;
      padding: 0px;
      padding-top: 0px;
      padding-bottom:15px;
    }
    .contact_list{
      width: 100%;
      margin-bottom: 20px;
      margin-top:5px;
      h6{
        color: #aeaeae;
        font-weight:500;
        font-size:14px;
      }
    }
    .cards_list{
      width: 100%;
      ul{
        margin:0px;
        padding:0px;
        li{
          list-style: none;
          background: #eeeeee;
          border-radius: 10px;
          width: 100%;
          margin-bottom: 10px;
          padding-top: 5px;
          padding-bottom: 5px;
          .radio-icon{
            border-color: #da1c5c !important;
          }
          .radio-inner{
            background:#1c1e60 !important;
          }
          .label {
            margin:0px;
            p{
              margin:0px;
              padding: 0px;
              color: #4f4f4f;
              padding-top: 10px;
            }
            h6{
              margin:0px;
              padding:0px;
              color: #a6a6a6;
              font-weight:400;
            }
          }
          .icon{
            color: #414042;
            float: right;
            margin: 7px;
          }
          .delete{
            padding-top: 5%;
          }
          .check{
            padding-top: 6%;
            padding-left: 10px;
          }
        }
      }
      .add_card{
        background:#1f5282;
        color: #fff;
        border-radius: 20px;
        height:30px;
        padding-left: 25px;
        padding-right: 25px;
        margin-top:20px;
      }
    }
  }
  .transfer{
    width:100%;
    height: 40px;
    background: #da1c5c;
    color: #fff;
    border-radius: 20px;
  }
}
