page-travel {
  .travel_wrapper{
    width:100%;
  .offer_slider{
    width:100%;
    height:120px;
  }
  .travel_tab_bay{
    width:100%;
    padding-top: 20px;
    padding-bottom: 10px;
    ul{
      margin:0px;
      padding:0px;
      text-align:left;
      li{
        list-style: none;
        display: inline-block;
        color: #949494;
        font-size: 18px;
        padding-right:40px;
        text-align: left;
        hr{
          border:2px solid #fff;
          width:30%;
          height:0px;
          border-radius:20px;
          margin-left:0px;
        }
      }
      .active{
        color: #431e5f;
        font-weight: 600;
        hr{
          border:2px solid #3df6ef;
          width:30%;
          height:0px;
          border-radius:20px;
          margin-left:0px;
        }
      }
    }
  }
  .travel_tab_content{
      .from{
        background: url("../assets/imgs/from.png");
      }
      .to{
        background: url("../assets/imgs/to.png");
      }
      .arrow{
        width:40px;
        height:40px;
        background:url("../assets/imgs/arrow.png");
        background-repeat:no-repeat;
        background-position:center;
        position: absolute;
        right:0px;
        background-size: 30px;
        top: 65px;
      }
      .input {
        border-bottom:1px solid #dddddd;
        font-size: 43px;
        font-weight:300;
        margin-bottom: 30px;
        padding-left: 60px;
        background-repeat: no-repeat !important;
        background-position: left top 25px;
        background-size: 20px;
        .text-input{
          margin:0px;
          padding:0px;
          &::placeholder{
            color: #e6e6e6;
          }
        }
      }
      h6{
        color: #a5a5a5;
      }
      .item{
        .item-inner{
          .input-wrapper{
            .datetime {
              width: 100%;
              font-size: 43px;
              font-weight:300;
              color: #e6e6e6;
              padding: 0px;
              background:url("../assets/imgs/calender.png");
              background-repeat:no-repeat;
              background-position: right;
              background-size: 28px;
              .datetime-placeholder{
                color: #e6e6e6;
              }
            }
          }
        }
      }
    }
  }

  .login_btn{
    width: 100%;
    height:40px;
    border-radius: 20px;
    background: #da1c5c;
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
}
}
